@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

h1 {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 24px;
}

body {
  background-color:rgb(255, 255, 255);
  font-family: MonteCarlo;
  color: rgb(255, 0, 0);
  font-size: 12px;
  background-image: url <img src="‘https://source.unsplash.com/random">;
}


body img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  border: solid 4px white;
  transition: all .2s ease-out;
}

img {
  border-radius: 10px;
  box-shadow: 5px 5px 3px black;
  height: 240px;
  width: 180px;
}

p {
  line-height: 25px;
}
a {
  text-decoration: none;
}
a:hover {
  color:rgb(2, 251, 114);
  text-decoration: underline;
  font-size: 15px;
}

card {
  background: img src="https://source.unsplash.com/random" ;
  border: 2px solid green;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
